{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-2">
  <div class="col-sm-6 offset-sm-3">
   <form action="" method="post" novalidate class="shadow p-5">
    <h3>Login</h3>
    <hr>
        {% csrf_token %}
        {% for fm in form  %}
            <div class="form-group">
               {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
               <br>
            </div>
        {% endfor %}
            <small><a href="#">Forget Password ?</a></small>
            <br>
            <input type="submit" class="btn mt-4" style="background-color: #94c9d9; color: white;" value="Login">
            <br>
            <div class="text-center text-primary fw-bold"><small>New to Shop ? <a href="{% url "customerregistration" %}" class="text-danger">Create an Account</a></small></div>

            {% if from.non_field_errors %}
               {% for error in from.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
               {% endfor %}
            {% endif %}

   </form>
  </div>
 </div>
</div>
{% endblock main-content %}